.create-card {
  width: 500px;
  height: 325px;
}

.center-button,
.center-element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-style {
  list-style-type: none;
}

.list-item-spacing {
  margin: 10px auto;
}
