.create-card {
  margin-top: 100px;
  width: 500px;
  height: 325px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-style {
  margin-top: 100px;
  list-style-type: none;
}

.list-item,
.practice-card,
.bar-progress {
  margin-bottom: 10px;
  width: 500px;
}

.vertical-margin {
  margin-top: 100px;
}

.edit-button,
.delete-button,
.arrow-button {
  cursor: pointer;
}

.arrow-nav {
  line-height: 250px;
}

.bar-current-progress {
  height: 25px;
}

.hidden {
  display: none;
}

.logo {
  float: left;
}
