.create-card {
  margin-top: 100px;
  width: 500px;
  height: 325px;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.practice {
  position: relative;
}

.list-item,
.practice-card,
.bar-progress {
  margin-bottom: 10px;
  width: 500px;
}

.vertical-margin,
.list-style {
  margin-top: 100px;
  list-style-type: none;
}

.edit-button,
.delete-button,
.arrow-button {
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

.fixed-width-500 {
  width: 500px;
}

.arrow-nav {
  line-height: 150px;
}

.bar-current-progress {
  height: 25px;
}

.hidden {
  display: none;
}

.right-justify {
  right: -15px;
}

.logo {
  float: left;
}

@keyframes slideInLeft {
  from {
    margin-left: 100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slideInLeft {
  animation-duration: 0.75s;
  animation-name: slideInLeft;
}

@keyframes slideInRight {
  from {
    margin-left: -100%;
    width: 100%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

.slideInRight {
  animation-duration: 0.75s;
  animation-name: slideInRight
}

@keyframes slideOutLeft {
  from {
    margin-left: 0;
    width: 100%;
  }

  to {
    margin-left: -100%;
    width: 100%;
  }
}

.slideOutLeft {
  animation-duration: 0.75s;
  animation-name: slideOutLeft;
}

@keyframes slideOutRight {
  from {
    margin-left: 0;
    width: 100%;
  }

  to {
    margin-left: 100%;
    width: 100%;
  }
}

.slideOutRight {
  animation-duration: 0.75s;
  animation-name: slideOutRight;
}

